*{
  padding: 0;
  margin: 0;
  font-family: Roboto;
  scroll-behavior: smooth;
}

body{
  background: linear-gradient(to left, #7cb8a6, #afebff);
  background-size: cover;
  background-position-x: center;
  animation: opacity 0.9s ease-in-out forwards !important;
}

@keyframes opacity {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

#flex{
  display: flex !important;
  flex-direction: row !important;
}

@media only screen and (max-width: 768px){
  #flex{
    flex-direction: column !important;
    width: 100% !important;
  }
  #flex img{
    width: 200px;
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px){
  nav{
    flex-direction: column;
    width: 100% !important;
  }
}

nav{
  display: flex;
  flex-direction: row;
  gap: 0.5 rem;
  background-color: #018d57;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.nav-link img{
  width: 45px;
  max-width: 100%;
  border-radius: 50%;
}

.nav-link a{
  text-decoration: none;
  font-size: 1.5rem;
  color: #d6d6d6;
  transition: 0.5s ease-in-out;
}

nav a:hover{
  color: aqua;
}

svg{
  color: white;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

svg:hover{
  color: aqua;
}

#about-sdg{
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
  padding-bottom: 4rem;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

