@media only screen and (max-width: 768px){
  
  .wrapper{
    width: 100%;
  }

  #run .container img{
    width: 100%;
  }

  nav{
    position: static !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    z-index: 100;
  }
}

@media only screen and (max-width: 700px){
  .wrapper{
    width: 100%;
  }

  #ray, #king, #fast{
    display: none;
  }
  
  #term img{
    width: 100%;
  }

  #run .container img{
    width: 100%;
    margin-bottom: 20px;
  }

  #run{
    display: block;
    width: 100%;
  }

  .flex{
    display: block;
    justify-content: space-between;
  }

  #flex{
    display: block;
    text-align: center;
  }

  #flex img{
    max-width: 100%;
    align-items: center;
    margin-left: 25px;
  }
}

@media only screen and (max-width: 1024px){
  .wrapper{
    width: 100%;
  }
  
  #term img{
    width: 100%;
  }

  #run .container img{
    width: 100%;
    margin-bottom: 20px;
  }

  #flex{
    display: block;
    text-align: center;
  }


  #flex img{
    max-width: 100%;
    align-items: center;
    margin-left: 25px;
  }
}