@media only screen and (max-width: 768px){
  
  .wrapper{
    width: 100%;
  }

  #run .container img{
    width: 100%;
  }
}

@media only screen and (max-width: 700px){
  .wrapper{
    width: 100%;
  }

  .joe{
    position: absolute !important;
    z-index: 5 !important;
    color: white !important;
    display: flex !important;
    width: 100% !important;
    justify-content: space-between !important;
  }
  
  #term img{
    width: 100%;
  }

  #run .container img{
    width: 100%;
  }
  .flex{
    display: block;
    justify-content: space-between;
  }
}