*{
  padding: 0;
  margin: 0;
  font-family: Roboto;
  scroll-behavior: smooth;
}

body{
  animation: opacity 0.9s ease-in-out forwards !important;
}

@keyframes opacity {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

.carousel-item img{
  width: 100% !important;
  height: 75vh !important;
}

#rest1{
  display: none !important;
}


#joe{
  border: 1px solid white !important;
  border-radius: 50% !important;
  transition-duration: 0.10s !important;
}

#joe:hover{
  background-color: greenyellow !important;
}

.wrapper{
  position: relative !important;
  width: 100% !important;
}

.joe{
  position: absolute !important;
  z-index: 5 !important;
  color: white !important;
  display: flex !important;
  width: 100% !important;
  justify-content: space-between !important;
}

#ray, #king, #fast{
  width: 30% !important;
}

#flex{
  display: flex;
}

#king a{
  color: white !important;
}

#turn{
  position: absolute !important;
  /* top: 6vh !important; */
  background-color: green !important;
  opacity: 0.9 !important;
  z-index: 2 !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

#turn a{
  text-decoration: none;
  color: white;

}

#turn img{
  width: 120px !important;
  max-width: 100% !important;
  margin-left: 20px !important;
}

.drodown{
  background-color: rgb(10, 216, 10) !important;
  padding-left: 30px !important;
}

.navbar-nav{
  color: black !important;
}
.dropdown-item{
  color: black !important;
}
.nav-item{
  margin-left: 80px !important;
}

.container0 img{
  width: 300px !important;
  max-width: 100% !important;
  margin-right: 10px !important;
}

.farma1{
  height: 80vh !important;
}
.flex{
  display: flex;
  justify-content: space-between;
}
.just{
  border-radius: 50% !important;
  padding: 15px 30px !important;
  background-color: green !important;
  color: white !important;
  font-size: 100px !important;
  margin-bottom: 25px !important;
}

#pans button:hover{
  color: white !important;
  background-color: yellow !important;
  border: none !important;
}

#run{
  display: flex;
}

#deer{
  border: 1px solid yellow;
  padding: 5px 5px;
  border-radius: 5px;
}

.stylefooter{
  background-color: green;
  border-top: 10px solid yellow !important;
}

.stylefooter img{
  background-color: green !important;
}

.send{
  position: absolute;
  width: 500px;
  top: 0;
  background: #e2e2ff;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 99;
  padding: 10px 10px;
  display: none;
}

.send input, textarea{
  border: 1px solid black;
  background: transparent;
  width: 100%;
}

.send .title{
  padding: 3px 35px;
  color: black  !important;
}

form input, textarea:focus{
  outline: none;
}

 .Call{
  animation: roll 1s ease infinite; 
} 



@keyframes roll {
  0%{
    transform: translateY(50%);
    /* color: aqua; */
  }
  100%{
    transform: translateY(0);
    /* color: pink; */
  }
}


 .img{
  width: 100px !important;
  border-radius: 50% !important;
} 



.maingrid{
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 2rem;
  border-bottom: 1px solid black;
}


.nav-item img{
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}

nav{
  position: static !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 100;
}

nav ul li a:hover{
  color: aqua;
}